#About h1{
    font-weight: 500;
    padding: 7px;
    margin: 0 auto;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #FFDD59, #FF9700);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 30px;

  }

#About .image{
    height: 300px;

}


// here is the css for h3 and paragraph 
