/* color set (according to colour theory)
Yellow: FFDD59
Orange: FF9700
Blue: 40E2FF
BlueGreen: 14CCB6
Dark yellow: 99863D
*/

$color-yellow: #FFDD59;
$color-orange: #FF9700;
$color-blue: #40E2FF;
$color-bluegreen: #14CCB6;
$color-darkyellow: #99863D;